@charset "utf-8";
/* CSS Document */

body{
	margin:0px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	min-width:1000px;
}
header{
	margin:auto;
	padding:10px;
	font-size:30px;
	width:800px;
	text-align:center;
	margin-top:20px;
}
section{
	margin-top:20px;	
}
section table tr td input{
	width:90%;
	height:35px;
	outline:none;
	font-size:14px;
}
.registros{
	margin:auto;
	width:1000px;
	margin-top:20px;
	border:1px solid #6F96DF;
	height:auto;
	padding:10px;
}

.formulario table tr td{
	padding:10px;
}
.formulario table tr td input{
	width:100%;
	outline:none;
}
.formulario table tr td select{
	width:100%;
	height:30px;
	outline:none;
}
.bien{
	background-color:#3CBE34;
	text-align:center;
	font-size:14px;
	color:#FFF;
	padding:5px;
}


footer
{
 color:white;
   
    font-size:20px;
	background: rgba(0,0,0,1);
background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 49%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(49%, rgba(46,46,46,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 49%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 49%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 49%, rgba(0,0,0,1) 100%);
background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(46,46,46,1) 49%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
    -moz-border-bottom-left-radius:0px;
    -moz-border-bottom-right-radius:5px;

    border-color:gray;
    -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
margin-top:5px;

	margin-bottom: 20px;
	
	padding: 20px;
	margin-top: 20px;    
}